<ion-view view-title="Add Client">
            <ion-content class="padding">
            <div class="content has-header">

            <div class="card">
                <div class="item item-text-wrap">
                    <form ng-submit="doClient()">
                        <ion-list type="list-inset">
                            <label class="item item-input">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="John Smith">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Street</span>
                                <input type="text" placeholder="128 Main Ave">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">City</span>
                                <input type="text" placeholder="City">
                            </label>

                            <label class="item item-input">
                                <span class="input-label">Zip Code</span>
                                <input type="number" pattern="[\d]*" placeholder="01254">
                            </label>

                            <label class="item item-input">
                                <span class="input-label">State</span>
                                <input type="text" placeholder="128 Main Ave">
                            </label>

                            <label class="item item-input">
                                <span class="input-label">Phone</span>
                                <input type="tel" placeholder="2015242541">
                            </label>

                            <label class="item item-input">
                                <span class="input-label">Email</span>
                                <input type="email" placeholder="johndoe@email.com">
                            </label>

                            <label class="item">
                                <button class="button button-block button-positive" type="submit">Add Client</button>
                            </label>


                            </ion-list>
                    </form>
                </div>
            </div>


            </div>
        </ion-content>
    </ion-view>

 q
