<ion-view view-title="Add Invoice">
    <ion-content class="padding">
        <div class="content has-header">
            <div class="card">
                <div class="item item-text-wrap">
                    <form ng-submit="doClient()">
                        <ion-list type="list-inset">
                            <div class="row">
                                <div class="col col-90">
                                    <label class="item item-input item-select" ng-controller="ClientsCtrl">
                                        <span class="input-label">Client Name</span>
                                        <select ng-model="client">
                                            <option value="">Select Client</option>
                                            <option ng-repeat="client in clients" ng-value="client.id">
                                                {{ client.name}}
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-10">
                                    <a class="item item-icon-left" href="#/app/addClient"><i class="icon ion-person-add"></i></a>

                                </div>
                            </div>
                            <label class="item item-input">
                                <span class="input-label">Date</span>
                                <input type="date">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Description</span>
                                <textarea placeholder="Description" rows="10" cols="6"></textarea>
                            </label>

                            <label class="item item-input">
                                <span class="input-label">Sub Total</span>
                                <input type="text" pattern="[\d]*" placeholder="$25.00">
                            </label>

                            <label class="item item-input">
                                <span class="input-label"></span>

                                <div class="row">
                                    <div class="col col-75 col-offset-25">
                                        <a class="item item-icon-left" href="#"><i class="icon ion-plus-circled"></i>Add Item</a>
                                    </div>
                                </div>
                            </label>

                            <label class="item item-input">
                                <span class="input-label"><strong>Total</strong></span>
                                <input type="text" placeholder="$25.00">
                            </label>

                            <label class="item">
                                <button class="button button-block button-positive" type="submit">Create Invoice
                                </button>
                                <button class="button button-block button-assertive" type="reset">Cancel</button>
                            </label>
                        </ion-list>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


