<ion-view view-title="Client">
    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item item-icon-left">

                <h2><i class="icon ion-person"></i> Client Name: Lili Sharkey</h2>
            </div>
            <a class="item item-icon-left" href="#/app/clients{{client.clientId}}" ng-if="clients"><i class="icon ion-ios-chatbubble"></i>View Manager<p>{{clients}}</p></a>
            <a class="item item-icon-left" href="#/app/clients{{client.name}}/reports"><i class="icon ion-flag"></i>CEO Some Company</p></a>
            <a class="item item-icon-left" href="tel:{{555-555-5555}}"><i class="icon ion-ios-telephone"></i>Call Office<p></p></a>
            <a class="item item-icon-left" href="tel:{{clients.cellPhone}}"><i class="icon ion-iphone"></i>Call Cell<p>{{client.cellPhone}}</p></a>
            <a class="item item-icon-left" href="sms:{{clients.cellPhone}}"><i class="icon ion-chatbox-working"></i>SMS<p>{{client.cellPhone}}</p></a>
            <a class="item item-icon-left" href="mailto:{{clients.email}}"><i class="icon ion-email"></i>Email<p>{{client.email}}</p></a>
        </div>

    </ion-content>
</ion-view>
