<ion-view view-title="Client">
    <ion-header-bar>
        <div class="buttons">

        </div>
        <h1 class="title">Input Tests</h1>
        <div class="buttons">
            <a class="button" href="#/input2">Page 2</a>
        </div>
    </ion-header-bar>
    <ion-content class="padding">

        <form ng-submit="formSubmit()">

            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
              <textarea>
                            Line 1
                            Line 2
                            Line 3
                            Line 4
                            Line 5
              </textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">Your Name</span>
                    <input type="text" value="name input" id="name">
                </label>

                <div class="item item-checkbox">
                    <span class="input-label">Remember me</span>
                    <label class="checkbox">
                        <input type="checkbox" id="remember-me">
                    </label>
                </div>

                <label class="item item-input">
                    <span class="input-label">From 1</span>
                    <input type="text" value="from input" id="from1">
                </label>

                <label class="item item-input">
                    <span class="input-label">To 1</span>
                    <input type="text" value="to input" id="to1">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comment 1</span>
                    <textarea id="textarea" id="comment1">comment textarea</textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">From 2</span>
                    <input type="text" value="" id="from2">
                </label>

                <label class="item item-input">
                    <span class="input-label">To 2</span>
                    <input type="text" value="" id="to2">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comment 2</span>
                    <textarea id="textarea" id="comment2"></textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">From 3</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input">
                    <span class="input-label">To 3</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comment 3</span>
                    <textarea id="textarea"></textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">From 4</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input">
                    <span class="input-label">To 4</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comment 4</span>
                    <textarea id="textarea"></textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">From 5</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input">
                    <span class="input-label">To 5</span>
                    <input type="text" value="">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comment 5</span>
                    <textarea id="textarea"></textarea>
                </label>

                <button type="button" class="button button-block button-energized" ng-click="openModal()">
                    Open Modal
                </button>

                <button type="submit" class="button button-block button-calm">
                    Submit!
                </button>
            </div>

        </form>

        <p>
            <a href="clickTests.html">Click Tests</a> -
            <a href="tapInputs.html">Tap Inputs</a> -
            <a href="/test/">CSS Tests</a>
        </p>
    </ion-content>
</ion-view>
