<ion-view view-title="Dashboard">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Welcome to Freelance Invoice Dashboard
            </div>
            <ion-list>
                <ion-item>
                    <a href="/#/app/addInvoice" class="button button-block button-balanced"><i class="ion ion-ios-copy-outline"></i> Add Invoice</a>
                </ion-item>
                <ion-item>
                    <a href="/#/app/addClient" class="button button-block button-assertive"><i class="ion ion-android-person-add"></i> Add Client</a>
                </ion-item>

                <ion-item>
                    <a href="/#/app/invoices" class="button button-block button-calm"><i class="ion ion-android-folder-open"></i> List Invoices</a>
                </ion-item>
                <ion-item>
                    <a href="/#/app/clients" class="button button-block button-royal"><i class="ion ion-android-contacts"></i> List Clients</a>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
