<ion-view view-title="Welcome">
    <ion-content style="background: #e8ebf1;" class="padding">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/ionic-header.png">
                <h2>Welcome</h2>
                <p>
                    Welcome to Ionic.io!
                </p>
            </div>
            <div class="item item-body">
                <div class="row">
                    <div class="col"><img style="width: 100%;" src="img/push-preview.png"></div>
                    <div class="col"><img style="width: 100%;" src="img/liveupdate-preview.png"></div>
                    <div class="col"><img style="width: 100%;" src="img/package-preview.png"></div>
                    <div class="col"><img style="width: 100%;" src="img/creator-preview.png"></div>
                    <div class="col"><img style="width: 100%;" src="img/analytics-preview.png"></div>
                </div>
                <p>
                    This app has been pre-loaded with every powerful service we offer.  Here you will find examples of each one,
                    along with links to their respective documentation.  Simply hit one of the tabs to get started!
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view hide-back-button="true" title="Freelance Invoice">
    <ion-pane>
        <ion-content overflow-scroll="true">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/ionic-header.png">
                    <h2>Welcome</h2>
                    <p>
                        Welcome to Ionic.io!
                    </p>
                </div>
                <ion-item class="item-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/NGC_4414_%28NASA-med%29.jpg">
                </ion-item>
                <ion-item>Full of wonderful things.  Take a look!</ion-item>
            </div>
            <div class="list card">
                <ion-item class="item-icon-right item-icon-left" href="#/app/dashboard">
                    <i class="icon ion-planet"></i>
                    Dashboard
                    <i class="icon ion-ios7-arrow-forward"></i>
                </ion-item>
                <ion-item class="item-icon-right item-icon-left" href="#/app/dashboard">
                    <i class="icon ion-funnel"></i>
                    About Freelance Invoice
                    <i class="icon ion-ios7-arrow-forward"></i>
                </ion-item>
                <div class="item item-body">
                    <div class="row">
                        <div class="col"><img style="width: 100%;" src="img/push-preview.png"></div>
                        <div class="col"><img style="width: 100%;" src="img/liveupdate-preview.png"></div>
                        <div class="col"><img style="width: 100%;" src="img/package-preview.png"></div>
                        <div class="col"><img style="width: 100%;" src="img/creator-preview.png"></div>
                        <div class="col"><img style="width: 100%;" src="img/analytics-preview.png"></div>
                    </div>
                    <p>
                        This app has been pre-loaded with every powerful service we offer.  Here you will find examples of each one,
                        along with links to their respective documentation.  Simply hit one of the tabs to get started!
                    </p>
                </div>
            </div>
        </ion-content>
    </ion-pane>

</ion-view>